#blooom {
  cursor: move;
  user-select: none;
  font-family: Helvetica, Arial, sans-serif;

  text {
    text-anchor: middle;
  }

  .node,
  .link {
    cursor: default;
    transition: opacity 0.3s ease-out;
  }

  .glow {
    cursor: default;
    fill: none;
    opacity: 0;
    stroke: #6ac6ff;
    stroke-width: 14px;
  }

  .link {
    .arrow {
      fill: #ccc;
    }
    text {
      fill: #000;
      font-size: 8px;
    }
  }

  .node {
    .circle {
      stroke-width: 2px;
    }
    text {
      fill: #fff;
      font-size: 10px;
      transform: translateY(4px);
    }
  }

  .node.pinned .glow,
  .node:hover .glow,
  .link:hover .glow {
    opacity: 0.25;
  }

  .node.faded,
  .link.faded {
    opacity: 0.2;
  }
}
